
<div class="container">
<strong><h2>How to use Anniv.Note</h2></strong>
<br>
<br>
<h4>なんでもない日を特別な日に<br>
    特別な日を、もっとトクベツな日に</h4>
<br>
<h5>1.みんなの記念日をみてみる<i class="fa-solid fa-magnifying-glass"></i></h5>
<br>
<p>どんな記念日があるんだろう？<br>
     みんなはどうやってお祝いしているの？<br>
     これから素敵な日を迎えるための参考にしましょう</p>
<br>
<h5>2.自分の記念日を記録する<i class="fa-solid fa-file-pen"></i></h5>
<br>
<p>素敵な日を迎えたら、今度はあなたの番<br>
    こんな記念日はどうだろう？<br>
    とてもいいお祝いができた！<br>
    あなたの大切で幸せな思い出を、おすそ分けしてください<br>
    自分の記録にもどうぞ<i class="fa-solid fa-photo-film"></i></p>
</div>