<div id="about" style="background-color: #B6D6EB;">
  <div class="background-image h-100 vh-100" style="color: #6C5423;">
    <div class="container-fluid cover h-100">
      <div class="row mt-5">
        <div class="col-sm-6 offset-sm-1">
          <h3 style="color: #6C5423;">なんでもない日を特別な日に</h3><br><h3>特別な日を、もっとトクベツな日に</h3>
          <div class="mt-5">
            <h5 class="mu-3" style="color: #6C5423;"><i class="fa-solid fa-magnifying-glass"></i>　みんなの記念日をみてみる</h5>
            <p style="color: #6C5423;">どんな記念日があるんだろう？<br>
                    みんなはどうやってお祝いしているの？<br>
                    これから素敵な日を迎えるための参考に</p>
            <a class="btn my-custom-button" href="/posts" role="button"><span class="fa-solid fa-book-atlas"></span> みんなの記念日</a>
          </div>
          <div class="mt-5">
          <h5 style="color: #6C5423;"><i class="fa-solid fa-file-pen"></i>　自分の記念日を記録する</h5><br>
          <p style="color: #6C5423;">素敵な日を迎えたら、今度はあなたの番<br>
                    「こんな記念日はどうだろう？」<br>
                    「とてもいいお祝いができた！」<br>
                     あなたの大切で幸せな思い出のおすそ分けを<br>
                     自分の記録にもどうぞ<i class="fa-solid fa-photo-film"></i></p>
          <a class="btn my-custom-button" href="/users/sign_up" role="button"><span class="fa-solid fa-book-atlas"></span> 登録して記録する</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>