<head>
<%= stylesheet_link_tag 'top', media: 'all' %>
</head>

<body style="background-color: #B6D6EB;">
<div class="background-image h-100 vh-100">
<strong><h2 style="color: #6C5423;">Annv. Note</h2></strong>
<br>
<h4 style="color: #423210">なんでもない日を特別な日に<br>
    特別な日を、もっとトクベツな日に</h4>
    </div>
</body>