@use '~bootstrap/scss/bootstrap';

h1 {
  font-family: "Metamorphous", serif;
  color: #6C5423;
}

h2 {
  font-family: "Metamorphous", serif;
  color: #6C5423;
  background: linear-gradient(transparent 60%, yellow 30%);
  display: inline-block;

}

h3 {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
  background: linear-gradient(transparent 60%, yellow 30%);
  display: inline-block;
}

h4, h5, p {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
}

.field, .actions, .subtitle {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
}

body{
  background-color: #fff6d7;
}

main {
  background-color: #fff6d7;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.my-custom-button {
  background-color: #6C5423;
  color: #E1C178;
}

.my-custum-link {
  color: #E1C178;
}

.dot {
  border: none;
  border-width: 1px 0 0 0;
  border-top: dotted;
  border-color: #4a2400;
}

.pagination {
  justify-content: center;
}

#home {
.background-image {
  width: 100%;
  height: 300px;
  background-color: #486d46;
  background-image: url('../images/top_image.jpg');
  background-size: cover;
}
}

#top {
  .background-image {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/top_image.jpg");
    background-size: cover;
    background-position: center center; 
  }
}

#about {
  .background-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/about_image.jpg");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
  }
  .cover{
    background:linear-gradient(to right, rgba(255, 255, 255, 0.678) 0%, rgba(255, 255, 255, 0.1) 100%); 
  }
}

#posts {
  .post-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .post-box {
    width: 200px;
    height: 250px;
    margin: 10px;
  }
  .post-content {
    width: 200px;
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem; 
  }
  .post-body {
    text-align: left;
    word-break: break-all;
  }
  .custom-border-row {
    border: 2px dashed #E1C178;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
}

#users {
  .sidebar_fixed {
    position: sticky;
    text-align: center;
    top: 60px;
  }
  .show-post-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    color:#6C5423;
    text-align: left;
  }
  .table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #6C5423;
    border-collapse: collapse;
    table-layout: fixed;
  }
  .image-column {
    width: 25%; /* 固定幅 */
  }
  .title-column {
    width: 15%; /* 固定幅 */
  }
  .text-column {
    width: 50%; /* 固定幅 */
  }
  .date-column {
    width: 10%; /* 固定幅 */
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5rem; 
  }
}

#comments {
  .comment-username {
    width: 15%;
  }
  .comment {
    width: 80%;
    text-align: left;
    color: #6C5423;
    word-break: break-all;
  }
  .comment-bottun {
    width: 15%;
  }
}