@use '~bootstrap/scss/bootstrap';

h1, h2{
  font-family: "Metamorphous", serif;
}

.field .actions {
  font-family: "Sawarabi Gothic", sans-serif;
}

//home
.background-image {
  width: 100%;
  height: 300px;
  background-color: #486d46;            /* 背景色 */
  background-image: url('../images/top_image.jpg');
  background-size: cover;               /* 全画面 */
}

//about
#about {
  .background-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/about_image.jpg");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
  }
}

.cover{
  background:linear-gradient(to right, rgba(255, 255, 255, 0.678) 0%, rgba(255, 255, 255, 0.1) 100%); 
}

.my-custom-button {
  background-color: #6C5423;
  color: #E1C178;
  }

  h2 {
    font-family: "Metamorphous", serif;
  }
  
  
  h4, h5, p {
    font-family: "Sawarabi Gothic", sans-serif;
  }

  //login-signin
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .background {
    background-color: #fff6d7;
  }
  
  main {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    text-align: center;
    margin: auto;
  }
  
  h2{
    color: #6C5423;
    font-family: "Metamorphous", serif;
  }
  
  .field {
    color: #6C5423;
    font-family: "Sawarabi Gothic", sans-serif;
  }
  
  .my-custom-button {
    background-color: #6C5423;
    color: #E1C178;
    }

//post
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff6d7;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.post-wrap {
  display: flex;
  flex-wrap: wrap;
}

.post-box {
  width: 200px;
  height: 250px;
  margin: 10px;
}

.post-content {
  width: 200px;
}

.pagination {
  justify-content: center;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem; 
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

 h2, h3, h4, h5, p {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
}

.subtitle {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
}

.my-custom-button {
  background-color: #6C5423;
  color: #E1C178;
  }

.container-user {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.container-show {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

//top
#top {
  .background-image {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-image: url("../images/top_image.jpg");
    background-size: cover;
    background-position: center center; 
  }

  h2 {
    font-family: "Metamorphous", serif;
  }

  h4 {
    font-family: "Sawarabi Gothic", sans-serif;
  }
}

//user
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

h2, h3, h4, h5, p {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
}

.subtitle {
  font-family: "Sawarabi Gothic", sans-serif;
  color: #6C5423;
}

.sidebar_fixed {
  position: sticky;
  text-align: center;
  top: 60px;
}

.my-custom-button {
  background-color: #6C5423;
  color: #E1C178;
  }
.my-custum-link {
  color: #E1C178;
}

  .show-post-body {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color:#6C5423;
    text-align: left;
  }

.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color:#6C5423;
}

.pagination {
  justify-content: center;
}