<main>
  <div id="posts">
    <div class="texts-wrapper mt-8">
      <div class="contents-title text-center">
        <h3 class="subtitle"><i class="fa-solid fa-cake-candles"></i>　みんなの記念日</h3>
      </div>
      <br>
    </div>
      <div class="container">
        <div class="row">
          <%= render 'posts/card', posts: @posts %>
        </div>
      </div>
    </div>
    <%= paginate @posts %>
  </div>
</main>