// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff6d7;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.post-wrap {
  display: flex;
  flex-wrap: wrap;
}

.post-box {
  width: 200px;
  height: 250px;
  margin: 10px;
}

.post-content {
  width: 200px;
}

.pagination {
  justify-content: center;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

h2, h4, h5, p {
  font-family: "Sawarabi Gothic", sans-serif;
}