// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.sidebar_fixed {
  position: sticky;
  top: 60px;
}

.my-custom-button {
  background-color: #6C5423;
  color: #E1C178;
  }

.table {
  
}